.counter {

    border: 10px solid white;
    border-radius: 16px;
    display: block;
    justify-content: center;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    

}

.counterFinal {

    display: flex;
    justify-content: center;
    text-align: center;
    
}

.counterFinal2 {

    display: block;
    justify-content: center;
    text-align: center;
}

.nombreCar {

    font-size: 40px;
    color: yellow;
}

.total {

    font-weight: bold;
    padding: 10px;
    color: red;
    
}

.total1 {

    text-align: center;
    padding: 15px;
    font-size: 40px;
    
}

.btnLimpiar {

    border: 2px solid red;
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 10px;
    margin-right: 25px;
    margin-top: 10px;
    font-weight: bold;

}

.btnCheck {

    border: 2px solid white;
    background-color: cadetblue;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;

}

.btnCheck1 {

    border: 2px solid white;
    background-color: yellow;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 25px;

}


