.linkLogo {

    text-decoration: none;
    color: white;

}

.titleNav {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    

}

.btn__nav {

    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;


}

.navContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}